body {
  background-color: #282c34;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#heading {
  font-size: 42px;
  color: white;
}

/* Series */
.series-box {
  display: flex;
  background-color: #222;
  height: 10em;
  margin-bottom: 1em;
}

h3 {
  color: white;
}

input {
  width: 30em;
  height: 3em;
}

button {
  height: 3em;
}

